.v3jsf-schema-form {
  .v3jsf-form-field {
    padding: 0;

    &::after {
      right: 5px;
      left: 5px;
    }

    > .van-cell__title {
      flex: none;
    }

    > .van-cell__value {
      // schema-from下的所有vant控件，干掉边框，避免边框套边框
      .van-cell::after {
        content: none;
      }

      // ui规范，文本靠右对齐
      .van-cell__value--alone {
        color: var(--van-cell-value-color);
        text-align: right;
      }
    }

    &--column {
      flex-direction: column;

      > .van-cell__title > .v3jsf-field-label {
        padding-bottom: 0;
      }
    }

    &__error-message {
      margin-right: var(--van-field-label-margin-right);
      color: var(--van-field-error-message-color);
      font-size: 12px;
      text-align: right;
    }

    &__wrapper {
      height: 100%;
    }

    &__control {
      width: 100%;
      line-height: 0;
    }

    &__widget {
      display: flex;
      align-items: center;
    }

    .v3jsf-field-label {
      width: var(--van-field-label-width);
      padding: 10px 12px;

      &__text {
        flex: none;
        box-sizing: border-box;
        color: var(--van-field-label-color);
        text-align: left;
        word-wrap: break-word;

        &--required {
          &::before {
            margin-right: 2px;
            color: #ee0a24;
            content: '*';
          }
        }
      }
    }
  }
}
