body {
  background-color: #242424;
}

:root {
  --van-cell-background-color: #1c1c1e;
  --van-field-label-color: #f5f5f5;
  --van-cell-border-color: #3a3a3c;
  --van-field-input-text-color: #f5f5f5;
  --van-radio-label-color: #f5f5f5;
  --van-checkbox-label-color: #f5f5f5;
}
