.tfz-form-field {
  padding: 0;

  &::after {
    right: 5px;
    left: 5px;
  }

  > .van-cell__value {
    // schema-from下的所有vant控件，干掉边框，避免边框套边框
    .van-cell::after {
      content: none;
    }

    // ui规范，文本靠右对齐
    .van-cell__value--alone {
      color: var(--van-cell-value-color);
      text-align: right;
    }
  }

  &--column {
    flex-direction: column;
  }

  &__error-message {
    margin-left: var(--van-field-label-margin-right);
    color: var(--van-field-error-message-color);
    font-size: 12px;
    text-align: left;
  }

  &__wrapper {
    height: 100%;
  }

  &-label {
    height: 100%;
    padding: 10px 12px;

    &__text {
      flex: none;
      box-sizing: border-box;
      color: var(--van-field-label-color);
      text-align: left;
      word-wrap: break-word;

      &--required {
        &::before {
          margin-right: 2px;
          color: #ee0a24;
          content: '*';
        }
      }
    }
  }
}
