$prefix-cls: '.v3jsf';
$v3sf-gen-bg-color: #eee;
$v3sf-gen-border-color: #bbb;

$v3sf-gen-panel-bg-color: #f7f8fa;
$v3sf-gen-panel-result-bg-color: #fff;
$v3sf-gen-selected-border-color: #c3defe;
$v3sf-gen-brand-color: #1890ff;

$v3sf-gen-field-bg-color: #fff;
