@import '../../variables.scss';

#{$prefix-cls} {
  &-Sidebar {
    width: 300px;
    padding: 15px 10px;
    overflow: overlay;
    overflow-x: hidden;
    border: 1px solid burlywood;

    &__header {
      font-weight: 500;
      font-size: 13px;
    }
  }

  &-WidgetGroup {
    &__title {
      font-weight: 500;
      font-size: 13px;
    }

    &__content {
      margin: 15px 0;
    }

    &__content-wrapper {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(3, 33.3333%);
    }
  }

  &-WidgetItem {
    display: flex;
    grid-column-start: span 1;
    justify-content: center;
    min-height: 40px;
    background-color: #f5f7fa;
    cursor: grab;

    &:hover {
      color: $v3sf-gen-hover-color;
      border: 1px dashed $v3sf-gen-hover-color;
    }

    &__title {
      margin: 12px 0;
      font-size: 12px;
      line-height: 1;
      text-align: center;
    }
  }
}
